{% extends 'base.html.twig' %}

{% block title %}
    Rebagliati | Listado de Fichas
{% endblock %}

{% block body %}
    <h1>Fichas list</h1>

    <table>
        <thead>
            <tr>
                <th>Idficha</th>
                <th>Fechaingreso</th>
                <th>Motivohospitalizacion</th>
                <th>Fallacardiaca</th>
                <th>Fallacardiacaetiologia</th>
                <th>Nyhaingreso</th>
                <th>Sindromecardiorenal</th>
                <th>Fraccioneyeccion</th>
                <th>Tapse</th>
                <th>Altamotivo</th>
                <th>Altafecha</th>
                <th>Altadescripcion</th>
                <th>Anotaciones</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ficha in fichas %}
            <tr>
                <td><a href="{{ path('ficha_show', { 'id': ficha.idFicha }) }}">{{ ficha.idFicha }}</a></td>
                <td>{% if ficha.fechaIngreso %}{{ ficha.fechaIngreso|date('Y-m-d') }}{% endif %}</td>
                <td>{{ ficha.motivoHospitalizacion }}</td>
                <td>{% if ficha.fallaCardiaca %}Yes{% else %}No{% endif %}</td>
                <td>{{ ficha.fallaCardiacaEtiologia }}</td>
                <td>{{ ficha.nyhaIngreso }}</td>
                <td>{{ ficha.sindromeCardiorenal }}</td>
                <td>{{ ficha.fraccionEyeccion }}</td>
                <td>{{ ficha.tapse }}</td>
                <td>{{ ficha.altaMotivo }}</td>
                <td>{% if ficha.altaFecha %}{{ ficha.altaFecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ ficha.altaDescripcion }}</td>
                <td>{{ ficha.anotaciones }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ficha_show', { 'id': ficha.idFicha }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ficha_edit', { 'id': ficha.idFicha }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ficha_new') }}">Create a new ficha</a>
        </li>
    </ul>
{% endblock %}
