{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ficha</h1>

    <table>
        <tbody>
            <tr>
                <th>Idficha</th>
                <td>{{ ficha.idficha }}</td>
            </tr>
            <tr>
                <th>Fechaingreso</th>
                <td>{% if ficha.fechaIngreso %}{{ ficha.fechaIngreso|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Motivohospitalizacion</th>
                <td>{{ ficha.motivoHospitalizacion }}</td>
            </tr>
            <tr>
                <th>Fallacardiaca</th>
                <td>{% if ficha.fallaCardiaca %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Fallacardiacaetiologia</th>
                <td>{{ ficha.fallaCardiacaEtiologia }}</td>
            </tr>
            <tr>
                <th>Nyhaingreso</th>
                <td>{{ ficha.nyhaIngreso }}</td>
            </tr>
            <tr>
                <th>Sindromecardiorenal</th>
                <td>{% if ficha.sindromeCardiorenal %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Sindromecardiorenaltipo</th>
                <td>{{ ficha.sindromeCardiorenalTipo }}</td>
            </tr>
            <tr>
                <th>Fraccioneyeccion</th>
                <td>{{ ficha.fraccionEyeccion }}</td>
            </tr>
            <tr>
                <th>Transfusionsanguinea</th>
                <td>{% if ficha.transfusionSanguinea %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Cceeasiste</th>
                <td>{% if ficha.cceeAsiste %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Cceeultima</th>
                <td>{% if ficha.cceeUltima %}{{ ficha.cceeUltima|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Hospitalizaciones</th>
                <td>{{ ficha.hospitalizaciones }}</td>
            </tr>
            <tr>
                <th>Anotaciones</th>
                <td>{{ ficha.anotaciones }}</td>
            </tr>
            <tr>
                <th>Examensolicitado</th>
                <td>{{ ficha.examenSolicitado }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ficha_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ficha_edit', { 'id': ficha.idficha }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
