{% extends 'base.html.twig' %}

{% block page_title %}
    <h1>Ficha | Detalle</h1>
{% endblock %}

{% block body %}

<div class="col-lg-6">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">Detalle</h3>
    </div>

    <table>
        <tbody>
            <tr>
                <th>Idficha</th>
                <td>{{ ficha.id }}</td>
            </tr>
            <tr>
                <th>Fechaingreso</th>
                <td>{% if ficha.fechaIngreso %}{{ ficha.fechaIngreso|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Motivohospitalizacion</th>
                <td>{{ ficha.motivoHospitalizacion }}</td>
            </tr>
            <tr>
                <th>Fallacardiaca</th>
                <td>{% if ficha.fallaCardiaca %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Fallacardiacaetiologia</th>
                <td>{{ ficha.fallaCardiacaEtiologia }}</td>
            </tr>
            <tr>
                <th>Nyhaingreso</th>
                <td>{{ ficha.nyhaIngreso }}</td>
            </tr>
            <tr>
                <th>Sindromecardiorenal</th>
                <td>{{ ficha.sindromeCardiorenal }}</td>
            </tr>
            <tr>
                <th>Fraccioneyeccion</th>
                <td>{{ ficha.fraccionEyeccion }}</td>
            </tr>
            <tr>
                <th>Tapse</th>
                <td>{{ ficha.tapse }}</td>
            </tr>
            <tr>
                <th>Altamotivo</th>
                <td>{{ ficha.altaMotivo }}</td>
            </tr>
            <tr>
                <th>Altafecha</th>
                <td>{% if ficha.altaFecha %}{{ ficha.altaFecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Altadescripcion</th>
                <td>{{ ficha.altaDescripcion }}</td>
            </tr>
            <tr>
                <th>Anotaciones</th>
                <td>{{ ficha.anotaciones }}</td>
            </tr>
        </tbody>
    </table>

    <div class="panel-footer">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3">
          <a href="{{ path('ficha_edit', {'id': ficha.id }) }}">
            <button class="btn btn-info" type="submit">Editar</button>
          </a>
          <a href="{{ path('paciente_show', { 'id': user_id }) }}">
            <button class="btn btn-warning" type="button">Volver</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


    <ul>
        <li>
            <a href="{{ path('ficha_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ficha_edit', { 'id': ficha.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
