{% extends 'base.html.twig' %}
{% block page_title %}
  <h1>Ficha | Detalle</h1>
{% endblock %}
{% block body %}
  <div class="col-lg-6">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Detalle</h3>
      </div>

      <div class="panel-body">
        <table class="table table-hover table-vcenter">
          <tbody>
            <tr>
              <td class="text-center">
                <span>
                  <i class="fa fa-plus fa-lg"></i>
                </span>
              </td>
              <td>
                <span class="text-semibold">Codigo Ficha</span>
              </td>
              <td class="text-center">
                <span class="text">{{ ficha.id }}</span>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <span>
                  <i class="fa fa-plus fa-lg"></i>
                </span>
              </td>
              <td>
                <span class="text-semibold">Fecha Ingreso</span>
              </td>
              <td class="text-center">
                <span class="text">{% if ficha.fechaIngreso %}{{ ficha.fechaIngreso|date('Y-m-d H:i:s') }}{% endif %}</span>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <span>
                  <i class="fa fa-plus fa-lg"></i>
                </span>
              </td>
              <td>
                <span class="text-semibold">Motivo Hospitalizacion</span>
              </td>
              <td class="text-center">
                <span class="text">{{ ficha.motivoHospitalizacion }}</span>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <span>
                  <i class="fa fa-plus fa-lg"></i>
                </span>
              </td>
              <td>
                <span class="text-semibold">Falla Cardiaca</span>
              </td>
              <td class="text-center">
                <span class="text">{% if ficha.fallaCardiaca %}Yes{% else %}No{% endif %}</span>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <span>
                  <i class="fa fa-plus fa-lg"></i>
                </span>
              </td>
              <td>
                <span class="text-semibold">Fallacardiacaetiologia</span>
              </td>
              <td class="text-center">
                <span class="text">{{ ficha.fallaCardiacaEtiologia }}</span>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <span>
                  <i class="fa fa-plus fa-lg"></i>
                </span>
              </td>
              <td>
                <span class="text-semibold">NyhaIngreso</span>
              </td>
              <td class="text-center">
                <span class="text">{{ ficha.nyhaIngreso }}</span>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <span>
                  <i class="fa fa-plus fa-lg"></i>
                </span>
              </td>
              <td>
                <span class="text-semibold">Sindrome Cardiorenal</span>
              </td>
              <td class="text-center">
                <span class="text">
                  {{ ficha.sindromeCardiorenal }}
                </span>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <span>
                  <i class="fa fa-plus fa-lg"></i>
                </span>
              </td>
              <td>
                <span class="text-semibold">Fraccion de Eyeccion</span>
              </td>
              <td class="text-center">
                <span class="text">{{ ficha.fraccionEyeccion }}</span>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <span>
                  <i class="fa fa-plus fa-lg"></i>
                </span>
              </td>
              <td>
                <span class="text-semibold">Tapse</span>
              </td>
              <td class="text-center">
                <span class="text">
                  {{ ficha.tapse }}
                </span>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <span>
                  <i class="fa fa-plus fa-lg"></i>
                </span>
              </td>
              <td>
                <span class="text-semibold">Alta Motivo</span>
              </td>
              <td class="text-center">
                <span class="text">
                  {{ ficha.altaMotivo }}
                </span>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <span>
                  <i class="fa fa-plus fa-lg"></i>
                </span>
              </td>
              <td>
                <span class="text-semibold">Alta Fecha</span>
              </td>
              <td class="text-center">
                <span class="text">{% if ficha.altaFecha %}{{ ficha.altaFecha|date('Y-m-d H:i:s') }}{% endif %}</span>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <span>
                  <i class="fa fa-plus fa-lg"></i>
                </span>
              </td>
              <td>
                <span class="text-semibold">Alta Descripcion</span>
              </td>
              <td class="text-center">
                <span class="text">{{ ficha.altaDescripcion }}</span>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <span>
                  <i class="fa fa-plus fa-lg"></i>
                </span>
              </td>
              <td>
                <span class="text-semibold">Anotaciones</span>
              </td>
              <td class="text-center">
                <span class="text">{{ ficha.anotaciones }}</span>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-9 col-sm-offset-3">
            <a href="{{ path('ficha_edit', {'id': ficha.id }) }}">
              <button class="btn btn-info" type="submit">Editar</button>
            </a>
            <a href="{{ path('ficha_index') }}">
              <button class="btn btn-warning" type="button">Volver</button>
            </a>
            <!-- {{ form_start(delete_form) }}
      <button class="btn btn-danger" type="submit">Eliminar</button>
      {{ form_end(delete_form) }} -->
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
