{% extends 'base.html.twig' %}
{% block page_title %}
    <h1>Rx Torax | Listado</h1>
{% endblock %}
{% block body %}

    <!-- <table class="table table-hover table-vcenter"> -->
    <table id="content-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Idrxtorax</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Enable</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rxTorax in rxToraxes %}
            <tr>
                <td><a href="{{ path('rx-torax_show', { 'id': rxTorax.id }) }}">{{ rxTorax.id }}</a></td>
                <td>{{ rxTorax.nombre }}</td>
                <td>{{ rxTorax.descripcion }}</td>
                <td>{% if rxTorax.enable %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                      <li>
                            <a href="{{ path('rx-torax_show', { 'id': rxTorax.id }) }}">
                          <div class="label label-table label-info">Ver Detalles</div>
                        </a>
                      </li>
                      <li>
                            <a href="{{ path('rx-torax_edit', { 'id': rxTorax.id }) }}">
                          <div class="label label-table label-warning">Modificar</div>
                        </a>
                      </li>
                    </ul>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
            <a href="{{ path('rx-torax_new') }}">
      <span class="btn btn-success fileinput-button dz-clickable">
        <i class="fa fa-plus"></i>
        <span>Agregar nuevo elemento</span>
      </span>
    </a>
{% endblock %}

{% block script_region %}
  <script src="{{ asset('plugins/bootstrap-select/bootstrap-select.min.js') }}"></script>
  <script src="{{ asset('plugins/datatables/media/js/jquery.dataTables.js') }}"></script>
  <script src="{{ asset('plugins/datatables/media/js/dataTables.bootstrap.js') }}"></script>
  <script src="{{ asset('plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js') }}"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      // $('#demo-dt-selection').DataTable();
      var rowSelection = $('#content-table').DataTable({
        "responsive": true,
        "language": {
          "paginate": {
            "previous": '<i class="fa fa-angle-left"></i>',
            "next": '<i class="fa fa-angle-right"></i>'
          }
        }
      });
      $('#content-table').on('click', 'tr', function() {
        if ($(this).hasClass('selected')) {
          $(this).removeClass('selected');
        } else {
          rowSelection.$('tr.selected').removeClass('selected');
          $(this).addClass('selected');
        }
      });
      $('#searchbox').keyup(function() {
        rowSelection.search($(this).val()).draw();
      });
      $('#content-table_filter').hide();
    });
  </script>
{% endblock %}
