{% extends 'base.html.twig' %}
{% block page_title %}
  <h1>Rx Torax | Detalle</h1>
{% endblock %}

{% block body %}

        <div class="col-lg-6">
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">Detalle</h3>
            </div>

            <div class="panel-body">
              <table class="table table-hover table-vcenter">
                <tbody>
                  <tr>
                    <td class="text-center">
                      <span>
                        <i class="fa fa-plus fa-lg"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-semibold">Codigo</span>
                    </td>
                    <td class="text-center">
                      <span class="text">{{ rxTorax.id }}</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                      <span>
                        <i class="fa fa-plus fa-lg"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-semibold">Nombre</span>
                    </td>
                    <td class="text-center">
                      <span class="text">{{ rxTorax.nombre }}</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                      <span>
                        <i class="fa fa-plus fa-lg"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-semibold">Descripcion</span>
                    </td>
                    <td class="text-center">
                      <span class="text">{{ rxTorax.descripcion }}</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                      <span>
                        <i class="fa fa-plus fa-lg"></i>
                      </span>
                    </td>
                    <td>
                      <span class="text-semibold">Habilitado</span>
                    </td>
                    <td class="text-center">
                      {% if rxTorax.enable %}
                      <span class="btn btn-success fileinput-button dz-clickable">
                        <span>Habilitado</span>
                      </span>
                      {% else %}
                      <span class="btn btn-danger fileinput-button dz-clickable">
                        <span>Deshabilitado</span>
                      </span>
                      {% endif %}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                  <a href="{{ path('rx-torax_edit', {'id': rxTorax.id }) }}">
                    <button class="btn btn-info" type="submit">Editar</button>
                  </a>
                  <a href="{{ path('rx-torax_index') }}">
                    <button class="btn btn-warning" type="button">Volver</button>
                  </a>
                    <!-- {{ form_start(delete_form) }}
                    <button class="btn btn-danger" type="submit">Eliminar</button>
                    {{ form_end(delete_form) }} -->
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
