{% extends 'base.html.twig' %}

{% block page_title %}
<h1>Historia Clinica | Editar</h1>
{% endblock %}

{% block body %}
{{ form_start(edit_form,{'attr':{
    'class' : 'form-horizontal'
    } }) }}
{{ form_errors(edit_form) }}
<div class="panel-body">
  <div class="form-group">
    {{ form_label(edit_form.transfusionSanguinea, "Transfusion Sanguinea", {'label_attr' : {
              'class' : 'col-sm-3 control-label'
              } }) }}
    <div class="col-sm-6">
      {{ form_widget(edit_form.transfusionSanguinea, {'attr':{
              'class' : 'form-control input-sm'
              } }) }}
    </div>
  </div>
  <div class="form-group">
    {{ form_label(edit_form.asisteControles, "Asiste Controles", {'label_attr' : {
              'class' : 'col-sm-3 control-label'
              } }) }}
    <div class="col-sm-6">
      {{ form_widget(edit_form.asisteControles, {'attr':{
              'class' : 'form-control input-sm'
              } }) }}
    </div>
  </div>

  <div class="form-group">
    {{ form_label(edit_form.nroHospitalizaciones, "Numero Hospitalizaciones", {'label_attr' : {
              'class' : 'col-sm-3 control-label'
              } }) }}
    <div class="col-sm-6">
      {{ form_widget(edit_form.nroHospitalizaciones, {'attr':{
              'class' : 'form-control input-sm'
              } }) }}
    </div>
  </div>
  <div class="form-group">
    {{ form_label(edit_form.peso, "Peso", {'label_attr' : {
              'class' : 'col-sm-3 control-label'
              } }) }}
    <div class="col-sm-6">
      {{ form_widget(edit_form.peso, {'attr':{
              'class' : 'form-control input-sm'
              } }) }}
    </div>
  </div>
  <div class="form-group">
    {{ form_label(edit_form.talla, "Talla", {'label_attr' : {
              'class' : 'col-sm-3 control-label'
              } }) }}
    <div class="col-sm-6">
      {{ form_widget(edit_form.talla, {'attr':{
              'class' : 'form-control input-sm'
              } }) }}
    </div>
  </div>
  <div class="form-group">
    {{ form_label(edit_form.tfg, "TFG", {'label_attr' : {
              'class' : 'col-sm-3 control-label'
              } }) }}
    <div class="col-sm-6">
      {{ form_widget(edit_form.tfg, {'attr':{
              'class' : 'form-control input-sm'
              } }) }}
    </div>
  </div>
  {% for medicacion in edit_form.idmedicacion %}
  <div class="form-group">
    {{ form_label(medicacion, medicacion.vars['label'] , {'label_attr' : {
              'class' : 'col-sm-3 control-label'
              } }) }}
    <div class="col-sm-6">
      {{ form_widget(medicacion, {'attr':{
              'class' : 'form-control input-sm',
              'data-switchery' : 'true',
              'style' : "display: none;"
              } }) }}
    </div>
  </div>

  {% endfor %}

</div>
<div class="panel-footer">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3">
      <button class="btn btn-info" type="submit">Guardar</button>

      <a href="{{ path('paciente_show', { 'id': user_id }) }}">
        <button class="btn btn-warning" type="button">Volver a la lista</button>
      </a>
    </div>
  </div>
</div>
{{ form_end(edit_form) }}

    <h1>HistoriaClinica edit</h1>


    <ul>
        <li>
            <a href="{{ path('historia-clinica_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}

{% block script_region %}
<script type="text/javascript">

{% for medicacion in edit_form.idmedicacion %}
  new Switchery(document.getElementById('{{medicacion.vars.id}}'), {size: 'large'});
{% endfor %}

new Switchery(document.getElementById('{{ edit_form.transfusionSanguinea.vars.id }}'), { size: 'large' });
new Switchery(document.getElementById('{{ edit_form.asisteControles.vars.id }}'), { size: 'large' });

</script>
{% endblock %}
