{% extends 'base.html.twig' %}

{% block body %}
  <h1>HistoriaClinica</h1>

  <table class="table table-hover table-vcenter">
    <tbody>
      <tr>
        <td class="text-center">
          <span>
            <i class="fa fa-plus fa-lg"></i>
          </span>
        </td>
        <td>
          <span class="text-semibold">Transfusionsanguinea</span>
        </td>
        <td class="text-center">
          <span class="text">
          {% if historiaClinica.transfusionSanguinea %}Yes{% else %}No{% endif %}
          </span>
        </td>
      </tr>
      <tr>
        <td class="text-center">
          <span>
            <i class="fa fa-plus fa-lg"></i>
          </span>
        </td>
        <td>
          <span class="text-semibold">Asistecontroles</span>
        </td>
        <td class="text-center">
          <span class="text">
            {% if historiaClinica.asisteControles %}Yes{% else %}No{% endif %}
          </span>
        </td>
      </tr>
      <tr>
        <td class="text-center">
          <span>
            <i class="fa fa-plus fa-lg"></i>
          </span>
        </td>
        <td>
          <span class="text-semibold">Nrohospitalizaciones</span>
        </td>
        <td class="text-center">
          <span class="text">
            {{ historiaClinica.nroHospitalizaciones }}
          </span>
        </td>
      </tr>
      <tr>
        <td class="text-center">
          <span>
            <i class="fa fa-plus fa-lg"></i>
          </span>
        </td>
        <td>
          <span class="text-semibold">Peso</span>
        </td>
        <td class="text-center">
          <span class="text">
            {{ historiaClinica.peso }}
          </span>
        </td>
      </tr>
      <tr>
        <td class="text-center">
          <span>
            <i class="fa fa-plus fa-lg"></i>
          </span>
        </td>
        <td>
          <span class="text-semibold">Talla</span>
        </td>
        <td class="text-center">
          <span class="text">
            {{ historiaClinica.talla }}
          </span>
        </td>
      </tr>
      <tr>
        <td class="text-center">
          <span>
            <i class="fa fa-plus fa-lg"></i>
          </span>
        </td>
        <td>
          <span class="text-semibold">TFG</span>
        </td>
        <td class="text-center">
          <span class="text">
            {{ historiaClinica.tfg }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <ul>
    <li>
      <a href="{{ path('historia-clinica_index') }}">Back to the list</a>
    </li>
    <li>
      <a href="{{ path('historia-clinica_edit', { 'id': historiaClinica.idpaciente.id }) }}">Edit</a>
    </li>
    <li>
      {{ form_start(delete_form) }}
      <input type="submit" value="Delete">
      {{ form_end(delete_form) }}
    </li>
  </ul>
{% endblock %}
