{% extends 'base.html.twig' %}
{% block page_title %}
    <h1>Paciente | Editar</h1>
{% endblock %}

{% block body %}
    {{ form_start(edit_form,{'attr':{
    'class' : 'form-horizontal'
    } }) }}
    {{ form_errors(edit_form) }}
    <div class="panel-body">
      <div class="form-group">
        {{ form_label(edit_form.historia, "Historia Clinica", {'label_attr' : {
        'class' : 'col-sm-3 control-label'
        } }) }}
        <div class="col-sm-6">
          {{ form_widget(edit_form.historia, {'attr':{
        'class' : 'form-control input-sm'
        } }) }}
        </div>
      </div>
      <div class="form-group">
        {{ form_label(edit_form.dni, "Nro. DNI", {'label_attr' : {
        'class' : 'col-sm-3 control-label'
        } }) }}
        <div class="col-sm-6">
          {{ form_widget(edit_form.dni, {'attr':{
        'class' : 'form-control input-sm'
        } }) }}
        </div>
      </div>
      <div class="form-group">
        {{ form_label(edit_form.nombre, "Nombre", {'label_attr' : {
        'class' : 'col-sm-3 control-label'
        } }) }}
        <div class="col-sm-6">
          {{ form_widget(edit_form.nombre, {'attr':{
        'class' : 'form-control input-sm'
        } }) }}
        </div>
      </div>
      <div class="form-group">
        {{ form_label(edit_form.paterno, "Apellido Paterno", {'label_attr' : {
        'class' : 'col-sm-3 control-label'
        } }) }}
        <div class="col-sm-6">
          {{ form_widget(edit_form.paterno, {'attr':{
        'class' : 'form-control input-sm'
        } }) }}
        </div>
      </div>
      <div class="form-group">
        {{ form_label(edit_form.materno, "Apelldio Materno", {'label_attr' : {
        'class' : 'col-sm-3 control-label'
        } }) }}
        <div class="col-sm-6">
          {{ form_widget(edit_form.materno, {'attr':{
        'class' : 'form-control input-sm'
        } }) }}
        </div>
      </div>
      <div class="form-group">
        {{ form_label(edit_form.genero, "Sexo", {'label_attr' : {
        'class' : 'col-sm-3 control-label'
        } }) }}
        <div class="col-sm-6">
          {{ form_widget(edit_form.genero, {'attr':{
        'class' : 'form-control input-sm'
        } }) }}
        </div>
      </div>
      <div class="form-group">
        {{ form_label(edit_form.fechaNacimiento, "Fecha Nacimiento", {'label_attr' : {
        'class' : 'col-sm-3 control-label'
        } }) }}
        <div class="col-sm-6">
          {{ form_widget(edit_form.fechaNacimiento, {'attr':{
        'class' : 'form-control input-sm'
        } }) }}
        </div>
      </div>
      <div class="form-group">
        {{ form_label(edit_form.telefono, "Telefono", {'label_attr' : {
        'class' : 'col-sm-3 control-label'
        } }) }}
        <div class="col-sm-6">
          {{ form_widget(edit_form.telefono, {'attr':{
        'class' : 'form-control input-sm'
        } }) }}
        </div>
      </div>
      <div class="form-group">
        {{ form_label(edit_form.activo, "Activo", {'label_attr' : {
        'class' : 'col-sm-3 control-label'
        } }) }}
        <div class="col-sm-6">
          {{ form_widget(edit_form.activo, {'attr':{
        'class' : 'form-control input-sm',
        'data-switchery' : 'true',
        'style' : "display: none;"
        } }) }}
        </div>
      </div>
      <div class="form-group">
        {{ form_label(edit_form.fechaRegistro, "Fecha Registro", {'label_attr' : {
        'class' : 'col-sm-3 control-label'
        } }) }}
        <div class="col-sm-6">
          {{ form_widget(edit_form.fechaRegistro, {'attr':{
        'class' : 'form-control input-sm'
        } }) }}
        </div>
      </div>
      <div class="form-group">
        {{ form_label(edit_form.ocupacion, "Ocupacion", {'label_attr' : {
        'class' : 'col-sm-3 control-label'
        } }) }}
        <div class="col-sm-6">
          {{ form_widget(edit_form.ocupacion, {'attr':{
        'class' : 'form-control input-sm'
        } }) }}
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3">
          <button class="btn btn-info" type="submit">Guardar</button>
          <a href="{{ path('paciente_index') }}">
            <button class="btn btn-warning" type="button">Volver a la lista</button>
          </a>
        </div>
        <div class="col-sm-9 col-sm-offset-3"></div>
      </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}

{% block script_region %}
<script type="text/javascript">
new Switchery(document.getElementById('paciente_activo'), { size: 'large' });

</script>
{% endblock %}
