{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paciente list</h1>

    <table class="table table-hover table-vcenter">
        <thead>
            <tr>
                <th>Historia</th>
                <th>Dni</th>
                <th>Nombre</th>
                <th>Paterno</th>
                <th>Materno</th>
                <th>Genero</th>
                <th>Fechanacimiento</th>
                <th>Telefono</th>
                <th>Activo</th>
                <th>Fecharegistro</th>
                <th>Ocupacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paciente in pacientes %}
            <tr>
                <td>{{ paciente.historia }}</td>
                <td>{{ paciente.dni }}</td>
                <td>{{ paciente.nombre }}</td>
                <td>{{ paciente.paterno }}</td>
                <td>{{ paciente.materno }}</td>
                <td>{{ paciente.genero }}</td>
                <td>{% if paciente.fechaNacimiento %}{{ paciente.fechaNacimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ paciente.telefono }}</td>
                <td>{% if paciente.activo %}Yes{% else %}No{% endif %}</td>
                <td>{% if paciente.fechaRegistro %}{{ paciente.fechaRegistro|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ paciente.ocupacion }}</td>
                <td>
                    <ul>
                      <li>
                        <a href="{{ path('paciente_show', { 'id': paciente.id }) }}">
                          <div class="label label-table label-info">Ver Detalles</div>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('paciente_edit', { 'id': paciente.id }) }}">
                          <div class="label label-table label-warning">Modificar</div>
                        </a>
                      </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('paciente_new') }}">
      <span class="btn btn-success fileinput-button dz-clickable">
        <i class="fa fa-plus"></i>
        <span>Agregar nuevo elemento</span>
      </span>
    </a>
{% endblock %}
