{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paciente</h1>

    <table>
        <tbody>
            <tr>
                <th>Idpaciente</th>
                <td>{{ paciente.idpaciente }}</td>
            </tr>
            <tr>
                <th>Historia</th>
                <td>{{ paciente.historia }}</td>
            </tr>
            <tr>
                <th>Dni</th>
                <td>{{ paciente.dni }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ paciente.nombre }}</td>
            </tr>
            <tr>
                <th>Paterno</th>
                <td>{{ paciente.paterno }}</td>
            </tr>
            <tr>
                <th>Materno</th>
                <td>{{ paciente.materno }}</td>
            </tr>
            <tr>
                <th>Genero</th>
                <td>{{ paciente.genero }}</td>
            </tr>
            <tr>
                <th>Fechanacimiento</th>
                <td>{% if paciente.fechaNacimiento %}{{ paciente.fechaNacimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ paciente.telefono }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if paciente.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Fecharegistro</th>
                <td>{% if paciente.fechaRegistro %}{{ paciente.fechaRegistro|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('paciente_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('paciente_edit', { 'id': paciente.idpaciente }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
