{% extends 'base.html.twig' %}

{% block body %}
    <h1>EstadoEvolutivo</h1>

    <table>
        <tbody>
            <tr>
                <th>Idestadoevolutivo</th>
                <td>{{ estadoEvolutivo.idestadoEvolutivo }}</td>
            </tr>
            <tr>
                <th>Glucosa</th>
                <td>{{ estadoEvolutivo.glucosa }}</td>
            </tr>
            <tr>
                <th>Creatinina</th>
                <td>{{ estadoEvolutivo.creatinina }}</td>
            </tr>
            <tr>
                <th>Sodio</th>
                <td>{{ estadoEvolutivo.sodio }}</td>
            </tr>
            <tr>
                <th>Hb</th>
                <td>{{ estadoEvolutivo.hb }}</td>
            </tr>
            <tr>
                <th>Vmc</th>
                <td>{{ estadoEvolutivo.vmc }}</td>
            </tr>
            <tr>
                <th>Rdw</th>
                <td>{{ estadoEvolutivo.rdw }}</td>
            </tr>
            <tr>
                <th>Leucocitos</th>
                <td>{{ estadoEvolutivo.leucocitos }}</td>
            </tr>
            <tr>
                <th>Neutro</th>
                <td>{{ estadoEvolutivo.neutro }}</td>
            </tr>
            <tr>
                <th>Linfocitos</th>
                <td>{{ estadoEvolutivo.linfocitos }}</td>
            </tr>
            <tr>
                <th>Troponina</th>
                <td>{{ estadoEvolutivo.troponina }}</td>
            </tr>
            <tr>
                <th>Tgp</th>
                <td>{{ estadoEvolutivo.tgp }}</td>
            </tr>
            <tr>
                <th>Probnp</th>
                <td>{{ estadoEvolutivo.proBnp }}</td>
            </tr>
            <tr>
                <th>Lactato</th>
                <td>{{ estadoEvolutivo.lactato }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('estado-evolutivo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('estado-evolutivo_edit', { 'id': estadoEvolutivo.idestadoEvolutivo }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
