{% extends 'base.html.twig' %}

{% block page_title %}
  <h1>Causas Descompensante | Listado</h1>
{% endblock %}

{% block body %}
  <table class="table table-hover table-vcenter">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Habilitado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for causaDescompensante in causaDescompensantes %}
        <tr>
          <td class="text-center">
            <a href="{{ path('causa_show', { 'id': causaDescompensante.id }) }}">{{ causaDescompensante.id }}</a>
          </td>
          <td>

            <span class="text-semibold">
              {{ causaDescompensante.nombre }}
            </span><br>
            <small class="text-muted">
              {{ causaDescompensante.descripcion }}
            </small>
          </td>
          <td>
            {% if causaDescompensante.enable %}Si{% else %}No{% endif %}
          </td>
          <td>
            <ul>
              <li>
                <a href="{{ path('causa_show', { 'id': causaDescompensante.id }) }}">
                  <div class="label label-table label-info">Ver Detalles</div>
                </a>
              </li>
              <li>
                <a href="{{ path('causa_edit', { 'id': causaDescompensante.id }) }}">
                  <div class="label label-table label-warning">Modificar</div>
                </a>
              </li>
            </ul>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{{ path('causa_new') }}">
    <span class="btn btn-success fileinput-button dz-clickable">
      <i class="fa fa-plus"></i>
      <span>Agregar nuevo elemento</span>
    </span>
  </a>
{% endblock %}
