{% extends 'base.html.twig' %}
{% block page_title %}
  Causa Descompensante
{% endblock %}
{% block body %}

  <div class="col-lg-6">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Detalle</h3>
      </div>

      <div class="panel-body">
        <table class="table table-hover table-vcenter">
          <tbody>
            <tr>
              <td class="text-center">
                <span>
                  <i class="fa fa-plus fa-lg"></i>
                </span>
              </td>
              <td>
                <span class="text-semibold">Codigo</span>
              </td>
              <td class="text-center">
                <span class="text">{{ causaDescompensante.id }}</span>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <span>
                  <i class="fa fa-plus fa-lg"></i>
                </span>
              </td>
              <td>
                <span class="text-semibold">Nombre</span>
              </td>
              <td class="text-center">
                <span class="text">{{ causaDescompensante.nombre }}</span>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <span>
                  <i class="fa fa-plus fa-lg"></i>
                </span>
              </td>
              <td>
                <span class="text-semibold">Descripcion</span>
              </td>
              <td class="text-center">
                <span class="text">{{ causaDescompensante.descripcion }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-9 col-sm-offset-3">
            <a href="{{ path('causa_edit', {'id': causaDescompensante.id }) }}">
              <button class="btn btn-info" type="submit">Editar</button>
            </a>
            <a href="{{ path('causa_index') }}">
              <button class="btn btn-warning" type="button">Volver</button>
              {{ form_start(delete_form) }}
              <button class="btn btn-danger" type="submit">Eliminar</button>
              <!-- <input type="submit" value="Delete"> -->
              {{ form_end(delete_form) }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
