{% extends 'base.html.twig' %}

{% block body %}
  <h1>Medicacion list</h1>

  <table class="table table-hover table-vcenter">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Detalles</th>
        <th>Habilitado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for medicacion in medicacions %}
        <tr>
          <td>
            <a href="{{ path('medicacion_show', { 'id': medicacion.id }) }}">{{ medicacion.id }}</a>
          </td>
          <td>
            <span class="text-semibold">
              {{ medicacion.nombre }}
            </span><br>
            <small class="text-muted">
              {{ medicacion.descripcion }}
            </small>
          </td>
          <td>
            {% if medicacion.enable %}Yes{% else %}No{% endif %}
          </td>
          <td>
            <ul>
              <li>
                <a href="{{ path('medicacion_show', { 'id': medicacion.id }) }}">
                  <div class="label label-table label-info">Ver Detalles</div>
                </a>
              </li>
              <li>
                <a href="{{ path('medicacion_edit', { 'id': medicacion.id }) }}">
                  <div class="label label-table label-warning">Modificar</div>
                </a>
              </li>
            </ul>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{{ path('medicacion_new') }}">
    <span class="btn btn-success fileinput-button dz-clickable">
      <i class="fa fa-plus"></i>
      <span>Agregar nuevo elemento</span>
    </span>
  </a>
{% endblock %}
