{% extends 'base.html.twig' %}
{% block page_title %}
  <h1>Medicacion | Listado</h1>
{% endblock %}
{% block body %}

  <!-- <table class="table table-hover table-vcenter"> -->
  <table id="content-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Detalles</th>
        <th>Habilitado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for medicacion in medicacions %}
        <tr>
          <td>
            <a href="{{ path('medicacion_show', { 'id': medicacion.id }) }}">{{ medicacion.id }}</a>
          </td>
          <td>
            <span class="text-semibold">
              {{ medicacion.nombre }}
            </span><br>
            <small class="text-muted">
              {{ medicacion.descripcion }}
            </small>
          </td>
          <td>
            {% if medicacion.enable %}Yes{% else %}No{% endif %}
          </td>
          <td>
            <ul>
              <li>
                <a href="{{ path('medicacion_show', { 'id': medicacion.id }) }}">
                  <div class="label label-table label-info">Ver Detalles</div>
                </a>
              </li>
              <li>
                <a href="{{ path('medicacion_edit', { 'id': medicacion.id }) }}">
                  <div class="label label-table label-warning">Modificar</div>
                </a>
              </li>
            </ul>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{{ path('medicacion_new') }}">
    <span class="btn btn-success fileinput-button dz-clickable">
      <i class="fa fa-plus"></i>
      <span>Agregar nuevo elemento</span>
    </span>
  </a>
{% endblock %}

{% block script_region %}
  <script src="{{ asset('plugins/bootstrap-select/bootstrap-select.min.js') }}"></script>
  <script src="{{ asset('plugins/datatables/media/js/jquery.dataTables.js') }}"></script>
  <script src="{{ asset('plugins/datatables/media/js/dataTables.bootstrap.js') }}"></script>
  <script src="{{ asset('plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js') }}"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      // $('#demo-dt-selection').DataTable();
      var rowSelection = $('#content-table').DataTable({
        "responsive": true,
        "language": {
          "paginate": {
            "previous": '<i class="fa fa-angle-left"></i>',
            "next": '<i class="fa fa-angle-right"></i>'
          }
        }
      });
      $('#content-table').on('click', 'tr', function() {
        if ($(this).hasClass('selected')) {
          $(this).removeClass('selected');
        } else {
          rowSelection.$('tr.selected').removeClass('selected');
          $(this).addClass('selected');
        }
      });
      $('#searchbox').keyup(function() {
        rowSelection.search($(this).val()).draw();
      });
      $('#content-table_filter').hide();
    });
  </script>
{% endblock %}
